.face {
  color: darkblue;
}
.back {
  color: lightgray;
}

#header {
  animation-duration: 3s;
  animation-name: slidein;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}
