body {
    background-color: black;
}

.face {
    color: red;
    animation-name: kaiten;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#header {
    animation-name: header;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes kaiten {
    0% {
      transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(90deg);
        color: blue;
    }
    50% {
        transform: rotateX(90deg);
        color: green;
    }
    75% {
        transform: rotateX(270deg);
        color: yellow;
    }
  
    100% {
      transform: rotateX(360deg);
      color: red;
    }
}

@keyframes header {
    0% {
        transform: rotateX(0deg);
        font-size: 2em;
      }
      25% {
          transform: rotateX(90deg);
          color: blue;
      }
      50% {
          transform: rotateX(90deg);
          color: green;
          font-size: 5em;
      }
      75% {
          transform: rotateX(270deg);
          color: yellow;
      }
    
      100% {
        transform: rotateX(360deg);
        color: red;
        font-size: 2em;
      }
}
